.editable {
    display: inline-block;
}

#editable-loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 19px;
    width: 220px;
    z-index: 10001;
}

#editable-toolbar {
    cursor: default;
    padding-left: 2px !important;
}

#editable-toolbar a {
    border-left: 1px solid #bbb;
    padding: 0 8px 0 12px;
    display: none;
}

#editable-toolbar a:first-child {
    display: inline-block !important;
    border-left: 0px !important;
    font-size: 14px !important;
    line-height: 14px !important;
    font-weight: bold !important;
    text-decoration: none;
}

.editable-highlight {border: 1px solid #ccc;}
.editable-link {display: block;}

#editable-toolbar,
.editable-highlight,
.editable-link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
}

#editable-toolbar, .editable-link {
    background: #fffcc3;
    float: left;
    cursor: pointer;
    padding: 6px 8px;
    white-space: nowrap;
    border: 1px solid #ccc;
}

#editable-toolbar a,
.editable-link {
    text-decoration: none;
    color: #222 !important;
    font-size: 11px !important;
    line-height: 11px !important;
    font-weight: normal;
    text-transform: uppercase;
}

#editable-toolbar.toolbar-open::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 18px;
}

#editable-toolbar.toolbar-open a {
    display: inline-block;
}

.editable-link.editable-link-show {
    visibility: visible !important;
}

.editable-form {
    position: relative;
    color: #000;
    background: #fffcc3;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 0 0 80px #222;
    line-height: 1em;
    padding: 20px;
    margin: 0 auto;
    min-width: 350px;
}
.editable-form:after {
    content: "";
    display: block;
    clear: both;
}
.editable-form table, .editable-form textarea, .editable-form input {
    font-size: 14px;
    margin: .5em 0;
    width: 100%;
}
.mceToolbar table {
    margin: 0 !important;
    width: auto !important;
}
.editable-form .booleanfield, .editable-form select {width: auto;}
.editable-form input.datetimefield {
    margin-left: 8px;
    width: 80px;
}
.editable-form input[type="file"] {
    width: 300px;
}
.editable-form div.form-group {
    border: 0 !important;
    line-height: 1em !important;
    padding: 0 !important;
    margin: .5em 0 !important;
}
.editable-form div.form-group:first-child {margin-top: 0px;}
.editable-form .helptext {
    color: #444;
    font-size: 70%;
    font-style: italic;
}
.editable-form label {
    color: #000 !important;
    float: none;
    font-weight: bold !important;
    font-size: 15px !important;
    line-height: 1.1em !important;
    text-transform: capitalize !important;
}
.editable-form .btn {
    cursor: pointer;
    border-radius: 3px;
    float: right;
    margin: 15px 0 0 15px;
    padding: 5px 15px;
    width: auto;
}
